.container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

.iframeContainer {
  height: calc(100vh - 64px);
  width: 100%;
  padding: 4px;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
